.split-flap-container {
	border: 1px solid blue;
	font-size: 2.5rem;
	width: 4rem;
	height: 6rem;
	position: relative;
}

.split-flap {
	display: inline-flex;
	padding: 1rem 0.5rem;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
	background-color: red;
	border-radius: 0.5rem;
	height: 100%;
	width: 100%;
	color: #fff;
	position: absolute;
}

.current-character {
	z-index: 2;

	&::after {
		content: attr(data-character);
		background-color: black;
	}
}

.next-character {
	background-color: green;
	z-index: 1;
}
